<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSMobileCenterAppSecret</key>
	<string>365e6ee8-1b17-44f1-9bad-0ae049b287ad</string>
	<key>TwitterConsumerKey</key>
	<string>UtyB9L1SkXkQiy46wUeqESGOH</string>
	<key>TwitterConsumerSecret</key>
	<string>HQGeRBYRfh38mIc6m7OWuLhXsBPMm0lnt2NXb8LHUuCER4wFPh</string>
</dict>
</plist>
